

body {
    background-image: url("../images/background.jpg");
    background-repeat: repeat;
  }
  
  #screen {
    overflow: auto;
  }
  
  #screen div {
    float: left;
  }
  
  #title {
    width: 250px;
    padding: 4px;
    margin-bottom: 10px;
    color: white;
    background-color: red;
  }
  
  #rules-area {
    width: 400px;
    height: 400px;
    padding: 4px;
    margin-bottom: 10px;
    color:black;
    background-color:whitesmoke;
  }
  
  #random-area {
    width: 200px;
    height: 100px;
    padding: 4px;
    font-size: 3vw;
    color: purple;
    background-color: mediumseagreen;
  }
  
  #score-area {
    width: 210px;
    height: 100px;
    padding: 4px;
    color: ghostwhite;
    background-color: darkcyan;
  }
  
  #score-title {
    width: 210px;
    padding: 4px;
    margin-bottom: 10px;
    color :black;
    background-color:red;
  }
  
  .crystals-button {
    display: inline;
  }
  
  .crystal-img {
    width: 80px;
    height: 80px;
    cursor: pointer;
    background-color:whitesmoke;
    border: solid;
    border-color: black;
  }
  
  #score-number {
    font-size: 3vw;
  }
  
  #win-area {
    height: 100px;
    padding: 4px;
    margin-bottom: 10px;
    margin-left: 10px;
    background-color:blue;
  }
  